* {
    margin:0px;
    padding:0px;
  }

  
                                                  /*FUENTE INTER*/

/* inter-latin-100-normal THIN*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-100-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-100-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-200-normal EXTRA LIGHT */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-200-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-200-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-300-normal LIGHT */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-300-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-400-normal REGULAR */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-500-normal MEDIUM */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-500-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-600-normal SEMI BOLD */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-700-normal BOLD */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-800-normal EXTRA BOLD */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-800-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-900-normal BLACK */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/inter@latest/latin-900-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}



                                                  /*FUENTE ABHAYA LIBRE*/

/* abhaya-libre-latin-400-normal REGULAR */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* abhaya-libre-latin-500-normal MEDIUM */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-500-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* abhaya-libre-latin-600-normal SEMI BOLD */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* abhaya-libre-latin-700-normal BOLD */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* abhaya-libre-latin-800-normal EXTRA BOLD */
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-800-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}




  /* TÍTULOS EXTRABOLD */
  h1 {
    font-size: 74px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;  
  }
  h2 {    
    font-size: 48px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;
  }
  h3 {
    font-size: 40px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;  
  }
  h4 {
    font-size: 36px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;
  }
  h5 {
    font-size: 32px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;
  }
  h6{
    font-size: 24px;
    color:#000;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;
  }

  /* TÍTULOS REGULAR */
  .h2-reg {
    font-size: 48px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
  }
  .h3-reg {
    font-size: 40px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
  }
  .h4-reg {
    font-size: 36px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
  }
  .h5-reg {
    font-size: 32px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
  }
  .h6-reg {
    font-size: 24px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
  }

  /* PÁRRAFOS BOLD*/
  .p1-bold {
    font-size: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
  }
  .p2-bold {
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
  }
  
  /* PÁRRAFOS SEMIBOLD*/
  .p1-semibold {
    font-size: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
  }
  .p2-semibold {
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
  }
  .p3-semibold {
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
  }
  
  /* PÁRRAFOS REGULAR*/
  .p2-reg {
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }
  .p3-reg {
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }
  
  /* PÁRRAFOS LIGHT*/
  .p3-light {
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
  }




  body { 
    background-color:#fff;
    display:flex;             /*FLEXBOX*/
    flex-direction: column;
    justify-items: center; /*alineación de los elemento flex en el eje x*/
    align-items:stretch;    /*alineación de los elementos hijos de un flex en el eje y (se alinean dentro del padre, 
                              no en función de la posición normal)*/
    
    /*p3-reg por defecto*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;

    overflow-x: hidden;  

  }



  #statusMessage {
    display: none;
    text-align: center;
  }



  /* Espaciado de letras para títulos y párrafos */
  h1, h2, h3, h4, h5, h6, .p1-bold, .p2-bold, .p1-semibold, .p2-semibold, .p3-semibold, .p2-reg, .p3-reg, .p3-light {
    letter-spacing: 0.05em; 
  }




  .container{
    /* Ajuste del tamaño de contenedores utilizando unidades em */
    max-width: 75em; /* 1em ≈ 16px, equivalente a 1196px */
    margin:auto;
    display:flex;           
    flex-direction: column;
    justify-content: center;
  }


  a:link {
    color:#06768d;
  }
  a:visited {
    color:#53068d;
  }
  a:hover {
    color: #084f6f; /* Cambia a un tono más oscuro al pasar el cursor */
  }
  a:active {
    color: #3a0571; /* Cambia a un tono diferente al hacer clic */
  }
  /*links para el header*/
  header a:link {
    color:#000;
    text-decoration: none;
    transition: color 0.3s;
  }
  header a:visited {
    color:#000;
    text-decoration: none;
  }
  header a:hover {
    color:#776B40;
    text-decoration: none;
  }
  header a:active {
    color:#000;
    text-decoration: none;
  }
  /*links para el footer*/
  footer a:link {
    color:#ffffff;
    text-decoration: none;
  }
  footer a:visited {
    color:#ffffff;
    text-decoration: none;
  }
  .footer-superior a:visited {
    color:#000;
    text-decoration: none;
  }
  footer a:hover {
    color:#ffffff;
    text-decoration: none;
  }
  footer a:active {
    color:#ffffff;
    text-decoration: none;
  }

  .enlace-interno{
    font-size: 0.7em;

  }




  
  /*-------------------------------------------------CABECERA-------------------------------------------------*/
  header {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;

    height: 129px;
    /*width:100%*/   
    width: 1196px;
    margin: 0; 
    background-color:#fff;
    position:sticky;
    top:0;
    z-index: 10; /* Asegura que el header esté por encima del sombreado */
  }
  header::after { /* Gradiente de sombreado debajo del header */
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px; /* Ajusta la altura del sombreado */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    pointer-events: none; /* Permite que los elementos debajo sean interactuables */
  }

  .header-logo {
    grid-column-start: 1;
    width: 115px;
  }

  /*Header responsive*/
  @media(max-width:1000px){
    header {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      justify-content: space-between;
      align-items: center;
  
      height: 250px;/*m*/
    }
  
    .header-logo {
      grid-column-start: 1;
      width: 200px;
      margin: 0 0 0 10px;
    }

  }


  /*BARRA DE BÚSQUEDA*/
  .search-container {     /* Contenedor de la barra de búsqueda */
    grid-column-start: 2;
    display: flex;
    align-items: center;
    
    width: 95%; /*ocupa el 95% de su padre (header)*/
    height: 40%; /*ocupa el 40% de su padre (header)*/
    border-radius: 27px;
    background-color: #E4DFCE;
  
    padding:0 15px;
  }

  .search-input {     /* Zona del input de búsqueda */
    flex: 1;
    border: none;
    outline: none;      /* elimina el contorno en algunos elementos interactivos (<input>, <button>, <a>) al estar enfocados o seleccionados.*/
    font-size: 20px;
    background-color: #E4DFCE;
  }
  .search-input::placeholder {    /*Contiene txt buscar*/
    color: #000000;
    opacity: 1;           /* Asegura que el color sea completamente visible */
  }

  .search-button {      /* Botón de búsqueda */
    border: none;
    background-color: #E4DFCE;
    cursor: pointer;
    height: 20px;
  }

  /*Barra de búsqueda responsive*/
  @media (max-width: 1000px) {

    .search-container {     /* Contenedor de la barra de búsqueda */
      grid-column-start: 2;
      display: flex;
      align-items: center;

      width: 100%;
      height: 50%;
      border-radius: 70px;
      padding:0 0 0 40px;
    }
  
    .search-input {
      flex: 1;
      font-size: 50px;
    }

    .search-button {
      height: 50px;
    }
  }


  /*NAVEGADOR*/
  header nav {
    grid-column-start: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;  /*centrar verticalmente, de arriba a abajo*/
    background-color:#fff;
  }

  .nav-content {
    margin: 0px 20px;
  }

  .nav-svg {
    color:#000;
    margin: 0px 10px;
  }

  /*Navegador responsive*/
  .hamburger {
    display: none;  /*En principio oculto*/
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    header nav {
        display: none;    /*en principio info navegador oculta*/
        flex-direction: column;   /*dispuestos en columna*/
        position: absolute;
        top: 250px;
        right: 0px;

        padding: 50px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    header nav.active {
        display: flex;    /*info de navegador pasa a visible (js)*/
    }

    .hamburger {
        display: flex;  /*hamburguesa visible*/
        height: 100px;
    }

    .nav-content {
      margin: 0px 20px;
      font-size: 4.5em;
      margin: 0 0 50px 0;
    }
  }



    /* CUERPO FICHA */
  /*.container-ficha{
    height: 100%;
    background-color: #E4DFCE;
    width: 1196px;
    margin: auto ;
    padding: 48px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }*/
  .container-ficha {             
    max-width: 1196px;
    width:100%;
    max-height: 100%;
    background-color: #E4DFCE;
    margin: 0 0 90px 0;
    padding: 85px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
  @media (max-width:1000px){
    .container-ficha{
      padding: 85px 60px;
    }
  }


  .info-portada{
    /* display: flex;
    flex-direction: row; */
    display:grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;  
    /* margin:0 50px; */

    /* justify-content: space-between; */
    /* align-items: center; */
  }

  @media (max-width:1000px) {
    .info-portada{
      display:grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;  
      gap: 50px;
    }

    .portada{
      grid-row-start: 1;
    }
    .info-portada img{
      width: 90%;
      justify-self: center;
    }

    .info{
      grid-row-start: 2;
    }
  }

  .portada {
    grid-column-start: 1;
  }
  .info-portada img {
    /* width: 464px; */
    max-width: 100%;
  }

  @media (max-width:1000px) {
    h2{
      font-size: 75px;
    }  
    h4{
      font-size: 63px;
    }
    .p2-bold, .p2-reg {
      font-size: 40px;
    }
    .p1-bold {
      font-size: 44px;
    }
  }
  


  .info-superior{
    grid-column-start: 2;

    display:grid;
    grid-template-columns: 70% 30%;  
    grid-template-rows: auto; 

    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    /* justify-content: space-between; */
    align-items: center;
  }

  .info-superior div:nth-child(1){    /*superior izquierda*/
    grid-column-start: 1;
    margin:20px 0;
  }

  .info-superior div:nth-child(2){    /*superior derecha*/
    grid-column-start: 2;
    /* margin:0 0 0 50px;  */
    justify-self: end;
  }

  
  @media (max-width:1000px) {
    .info-superior{
      margin: 50px 0;
    }
  }

  .disponible{
    color:#3E7D00;
    margin: 20px 0;
  }

  .aniadir{
    cursor: pointer;
    border: none;
    outline: none; 
    background-color: #776B40;
    color:#fff;
    padding: 10px;
  }
  /*Animación de elección 1*/
  .aniadir-cta {
    animation: pulseAnimation 2s infinite;
  }
  
  @keyframes pulseAnimation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
  /*Animación de elección 2*/
  .aniadir:hover{
    background-color: #fff;
    color:#000;
    text-decoration: none;
    transition: 0.5s;
  }



  hr{
    height: 0.1%;
    background-color: black;
  }

  .info-inferior{
    grid-column-start: 2;
    grid-row-start: 2;

    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 170px;
  }
  @media (max-width:1000px) {
    .info-inferior .p2-reg{
      margin:20px 0;
    }
  
  }


  .sinopsis{
    margin:50px 50px 0 50px;
  }
  @media (max-width:1000px) {
    .sinopsis{
      margin:300px 0 0;
    }
  }
  
  .sinopsis-titulo{
    margin: 0 0 20px 0;

  }




/*--------------------------------------------------FOOTER--------------------------------------------------*/
footer{
  max-width: 1196px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display:flex;    
  flex-direction: column;
}
@media (max-width:1000px) {
  footer{
    height: 450px;
  }
  h6{   /*titulo Contacto*/
    font-size: 50px;
  }
  .p3{
    font-size: 30px;
  }
}


.footer-superior{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;

  max-height: 281px;
  height:100%;
  background-color: #fff;
  padding: 40px 150px; 
}

.footer-contacto{
  grid-column-start: 1;
}
.modo-contacto{
  margin: 10px;
}
.modo-contacto svg{
  margin:0 5px;
  width:25px;
}

footer div img {  /*logotipo*/
  width: 200px;
  grid-column-start: 2;
}
@media (max-width:1000px) {
  .footer-superior{
    padding: 100px 100px; 
  }

  footer div img {  /*logotipo*/
    width: 300px;
  }

  .modo-contacto{
    margin:20px;
  }
  .modo-contacto svg{
    margin:0 10px;
    width: 30px ;
  }  
}



.footer-inferior {
  background-color: #776B40;
  color: #fff;
  padding: 20px 200px;

  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:1000px) {
  .footer-inferior {
    padding: 50px 150px;
  }
  .footer-redes a svg{
    width: 55px;
  }

  .footer-inferior span {   /*copyright*/
    font-size: 2em ;
  }
}

.footer-redes{
  grid-column-start: 1;
  display: flex;
  justify-content: space-between;

}

.footer-redes a svg{
  min-width: 35px;
}

.footer-inferior span {   /*copyright*/
  grid-column-start: 2;
}


